:root {
  --primary-bg-color: #2c3e50;
  --secondary-bg-color: #34495e;
  --primary-light-color: #2980b9;
  --font-color: #ecf0f1;
  --focus-color: #27ae60;
}

body {
  margin: 45px;
  color: var(--font-color);
  background-color: var(--secondary-bg-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
    color: var(--font-color);
    text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.logo-text {
    text-align: center;
    height: 20px;
    margin: 20px;
}
.vl {
    border-left: 1px solid var(--primary-bg-color);
}
.chat-hint {
    padding: 15px 25px;
    margin: 0;
    min-height: 20px;
    border-bottom: 1px solid var(--primary-bg-color);
}
.message {
    max-width: 75%;
    padding: 5px 10px;
    margin: 5px 10px;
    background-color: var(--secondary-bg-color);
    list-style: none;
}
.message-form {
    border-top: 1px solid var(--primary-bg-color);
}
.message-input {
     width: 100%;
     height: 30px;
     border: 0;
     padding-left: 20px;
     background-color: var(--secondary-bg-color);
     color: var(--font-color);
}
.message-input:focus {
    outline: 0;
}
.message-button {
    background-color: var(--secondary-bg-color);
    width: 100px;
    border: 0;
    margin-top: 2px;
    color: var(--font-color);
}

.message-button:focus {
    outline: 1px solid var(--primary-bg-color);
}

.common-input {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
}
.width100 {
    width: 100%;
}

.width250 {
    min-width: 250px;
    width: 250px;
    max-width: 250px;
}
.width350 {
    min-width: 350px;
    width: 350px;
    max-width: 350px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  text-align: center;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.inline-flex-row {
    display: inline-flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.inline-flex-column {
    display: inline-flex;
    flex-direction: column;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 15px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid var(--primary-bg-color);
  border-color: var(--primary-bg-color) transparent var(--primary-bg-color) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
